<div class="row">
  <div class="col">
    <nb-actions class="nav-menu">
      <nb-action>
        <button class="btn btn-hero-success btn-tn" (click)="previousWorkorder()">Previous Work Order</button>
      </nb-action>
      <nb-action>
        <div class="col-sm-12 input-group workorder_search">
          <label class="col-sm-6 form-control" for="wo_search">Search Workorders</label>
          <input ngui-auto-complete class="form-control" [source]="workorders" value-property-name="id"
                 display-property-name="id" auto-complete-placeholder="Search Units" max-num-list="10" [list-formatter]="valueFormatter"
                 (keyup.enter)="findWorkorder(item.value)" #item id="wo_search">
        </div>
      </nb-action>
      <nb-action>
        <button class="btn btn-hero-success btn-tn" (click)="nextWorkorder()">Next Work Order</button>
      </nb-action>
    </nb-actions>
    <span class="previousButton">
  </span>
    <span class="nextButton">
  </span>
  </div>
</div>
<br>
<div class="row">
  <h3>Work Order {{work_order.id}}</h3>
  <nb-actions>
    <nb-action *ngIf="unit">
      <button class="btn btn-danger btn-tn" [routerLink]="['/pages/units/unit_detail/', unit?.id]">View Unit</button>
    </nb-action>
    <nb-action *ngIf="edit===false">
      <button class="btn btn-warning btn-tn" (click)="editWO(true)">Edit Work Order Status</button>
    </nb-action>
    <nb-action *ngIf="!unit_status_edit;">
      <button class="btn btn-success btn-tn" (click)="editUS(true)">Edit Unit Status</button>
    </nb-action>
    <nb-action *ngIf="work_order.created_by_log === true">
      <button class="btn btn-warning btn-tn" (click)="confirmWorkOrder()">Confirm Work Order</button>
    </nb-action>
  </nb-actions>
</div>
