<nb-card *ngIf="user">
  <nb-card-header>
    <div class="col-sm-12 row">
      <div class="col-sm-6">
        User Information
      </div>
      <div class="input-field col-sm-6" *ngIf="wants_to_change_password === false;">
        <button class="btn btn-danger btn-tn" (click)="changePassword()">Change Password</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row col-sm-12" *ngIf="!wants_to_change_password">
      <div class="col-sm-6 input-group">
        <label for="email" class="col-sm-4 form-control">Email </label>
        <input required [(ngModel)]="user.email" id="email" name="email" type="email" class="form-control validate">
      </div>
      <div class="col-sm-6 input-group">
        <label class="col-sm-4 form-control">Employee # </label>
        <input placeholder="Employee #" [(ngModel)]="user.employee_number" id="employee_number" name="employee_number"
               class="validate form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="name" class="col-sm-4 form-control">Name </label>
        <input placeholder="Name/Alias (First Name and Last)" [(ngModel)]="user.name" id="name" name="name"
               class="validate form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="job_name" class="col-sm-4 form-control">Job </label>
        <select id="job_name" class="browser-default form-control" [(ngModel)]="user.job_id" name="job">
          <ng-container *ngFor="let job of jobs">
            <option [value]="job.id">{{job.name}}</option>
          </ng-container>
        </select>
      </div>
      <!--<div class="form-control">-->
        <!--<label for="file">Choose Picture</label>-->
        <!--<input type="file" id="file" (change)="pictureCaptured($event.target.files)">-->
      <!--</div>-->
      <image-upload (uploadFinished)="pictureCaptured($event)"></image-upload>
    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-success btn-sm" *ngIf="wants_to_change_password === false;"
              (click)="submitProfile()">Submit
        <i class="material-icons right">&rarr;</i>
      </button>
      <a *ngIf="wants_to_change_password === false;" [routerLink]="['/pages/profile/profile_detail', user.id]">Cancel</a>
    </div>
    <div class="row col-sm-12" *ngIf="wants_to_change_password">
      <div class="input-field col-sm-4">
        <input placeholder="Old Password" [(ngModel)]="old_password" id="old_password" name="old_password"
               type="password" class="form-control">
      </div>
      <div class="input-field col-sm-4">
        <input placeholder="New Password" [(ngModel)]="new_password" id="new_password" name="new_password"
               type="password" class="form-control">
      </div>
      <div class="input-field col-sm-4">
        <input placeholder="Confirmation" [(ngModel)]="confirmation_password" id="confirmation_password"
               name="confirmation_password" type="password" class="form-control">
      </div>
    </div>
    <div *ngIf="wants_to_change_password" class="col-sm-12 right-align">
      <button type="button" class="btn btn-success btn-sm" (click)="submitChangePassword(old_password, new_password)">Submit
        <i class="material-icons right">&rarr;</i>
      </button>
      <a [routerLink]="['/pages/profile/profile_edit/', user.id]" (click)="changePassword()">Cancel</a>
    </div>
  </nb-card-body>
</nb-card>
