<nb-card *ngIf="unit != {} && unitTypes != undefined && companies != undefined">
  <nb-card-header>
    <div class="row">
      <h3>Unit#{{unit.number}}</h3>
      <nb-actions>
        <nb-action class="control-item">
          <button class="btn btn-warning btn-tn" (click)="createUnitType()">Create Unit Type</button>
        </nb-action>
        <nb-action class="control-item">
          <button class="btn btn-warning btn-tn" (click)="createClass()">Create Unit Class</button>
        </nb-action>
        <nb-action class="control-item">
          <button class="btn btn-warning btn-tn" (click)="createCompany()">Create Company</button>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body *ngIf="unit != {}">
    <div class="row show-grid">
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="unit_type">Unit Type: </label>
        <select required [(ngModel)]="unit.unit_type_id" id="unit_type" [value]='unit.unit_type' name="unit_type"
                class="form-control" (change)="getUnitSubTypes()">
          <ng-container *ngFor="let unitType of unitTypes">
            <option [value]="unitType.id">{{unitType.utype}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="company">Company: </label>
        <select required [(ngModel)]="unit.company_id" id="company" [value]='unit.company_id'
                name="company" class="form-control">
          <ng-container *ngFor="let company of companies">
            <option [value]="company.id">{{company.name}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="unit_status">Unit Status: </label>
        <select required [(ngModel)]="unit.unit_status_id" id="unit_status" [value]='unit.unit_status_id' name="company"
                class="form-control">
          <ng-container *ngFor="let unitStatus of unitStatuses">
            <option [value]="unitStatus.id">
              {{unitStatus.status}}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="unit_subtype">Unit Class: </label>
        <select id="unit_subtype" [(ngModel)]="unit.unit_subtype_id" name="unit_subtype" [value]='unit.unit_subtype_id'
                class="form-control">
          <ng-container *ngFor="let unitSubType of unitSubTypes">
            <option [value]="unitSubType.id">
              {{unitSubType.subtype}}
            </option>
          </ng-container>
          <option [value]="null">Select a Unit Class</option>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="unit_job">Job: </label>
        <select [(ngModel)]="unit.job_id" name="unit_job" id="unit_job" [value]='unit.job_id' class="form-control">
          <ng-container *ngFor="let job of jobs">
            <option [value]="job.id">{{job.name}}</option>
          </ng-container>
          <option [value]="null">Select a Job</option>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="number">Unit Number: </label>
        <input required [(ngModel)]="unit.number" id="number" name="number" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control" for="plate">Plate: </label>
        <input required [(ngModel)]="unit.plate" id="plate" name="plate" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="vin_sn">Vin#: </label>
        <input required [(ngModel)]="unit.vin_sn" id="vin_sn" name="vin_sn" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="registration_date">Registration Date: </label>
        <input required [(ngModel)]="unit.registration_date" id="registration_date" name="registration_date" type="text"
               class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control" for="description">Description: </label>
        <input required [(ngModel)]="unit.description" id="description" name="description" type="text"
               class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="location">Location: </label>
        <input [(ngModel)]="unit.location" type="text" name="location" id="location" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="meter">Meter: </label>
        <input [(ngModel)]="unit.meter" type="text" name="meter" id="meter" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="cadr">CADR: </label>
        <input [(ngModel)]="unit.cadr" type="text" name="cadr" id="cadr" class="form-control">
      </div>
    </div>
    <hr>
    <div class="right-align">
      <button type="button" class="btn btn-success btn-sm" (click)="submitUnit(unit)">Submit
        <i class="material-icons right">&rarr;</i>
      </button>
      <a [routerLink]="['/pages/units/unit_detail', unit.id]">Cancel</a>
    </div>
  </nb-card-body>
</nb-card>
