<nb-card>
  <nb-card-header>
    <div>
      <a [routerLink]="['work_order_creation']" id="create_work_order" class="btn btn-warning btn-tn">Create Work Order</a>
      <button class="btn btn-info btn-tn" (click)="export()">Export to CSV</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Work Orders that Need Attention">
        <nb-card>
          <nb-card-header>
            Work Orders that Need Attention
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table id="mfTable2" [settings]="vendorWorkOrderSettings" (userRowSelect)="onWorkOrderClick($event)"
                             [source]="work_order_needs_attention_source"></ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Work Orders">
        <nb-card>
          <nb-card-header>
            Work Order List
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table id="mfTable1" [settings]="settings" (userRowSelect)="onWorkOrderClick($event)"
                             [source]="all_workorder_source"></ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Vendor Work Orders">
        <nb-card>
          <nb-card-header>
            Vendor Work Order List
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table id="mfTable3" [settings]="vendorWorkOrderSettings" (userRowSelect)="onWorkOrderClick($event)"
                             [source]="vendor_workorder_source"></ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
