<nb-card>
  <nb-card-header>
    <div class="row">
      <h3>Preventative Maintenance List</h3>
      <nb-actions>
        <nb-action>
          <a [routerLink]="['pm_creation']" id="create_part" class="btn btn-warning btn-tn">Create PM</a>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" [source]="pm_records"></ng2-smart-table>
  </nb-card-body>
</nb-card>
