<!--suppress ALL -->
<nb-card>
  <nb-card-header>
    <div class="row">
      <h3>Parts Dashboard</h3>
      <nb-actions>
        <nb-action>
          <button class="btn btn-info btn-tn" (click)="orderPart()">Order Part</button>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-card *ngIf="prefs.requested_parts===true">
      <nb-card-header>
        Requested Parts
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table id="mfTable" [settings]="requested_parts_settings"
                         (userRowSelect)="onRequestedPartClick($event)"
                         [source]="partsModalService.requested_parts_source"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="prefs.ordered_parts===true">
      <nb-card-header>
        Ordered Parts
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table id="mfTable" [settings]="ordered_parts_settings" (editConfirm)="onEditConfirm($event)"
                         [source]="partsModalService.ordered_parts_source"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="prefs.received_parts===true">
      <nb-card-header>
        Received Parts
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table id="mfTable" [settings]="received_parts_settings" (userRowSelect)="onReceivedPartClick($event)"
                         [source]="partsModalService.received_parts_source"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
