<ngx-prop-truck-creation *ngIf="unit.unit_type==='Truck'"></ngx-prop-truck-creation>

<ngx-prop-trailer-creation *ngIf="unit.unit_type==='Trailer'"></ngx-prop-trailer-creation>

<ngx-prop-equipment-creation *ngIf="unit.unit_type==='Equipment'"></ngx-prop-equipment-creation>
