<nb-card>
  <nb-card-header>
    User Dashboard ||
    <button type="button" class="btn btn-info btn-tn" (click)="createUser()">Add User</button>
  </nb-card-header>
  <nb-card-body>
    <div>
      <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onUserClick($event)"
                       [source]="user_source"></ng2-smart-table>
    </div>
  </nb-card-body>
