<nb-layout [center]="layout.id === 'center-column'" windowMode>
  <nb-layout-header fixed>
    <ngx-header [position]="sidebar.id === 'left' ? 'normal': 'inverse'"></ngx-header>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar"
              tag="menu-sidebar"
              responsive
              [right]="sidebar.id === 'right'">
    <nb-sidebar-header>
      <!--<a href="#" class="btn btn-hero-success main-btn">-->
        <span>Pumpco Inc.</span>
      <!--</a>-->
    </nb-sidebar-header>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>
  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
  <nb-sidebar class="settings-sidebar"
              tag="settings-sidebar"
              state="collapsed"
              fixed
              [right]="sidebar.id !== 'right'">
    <ngx-theme-settings></ngx-theme-settings>
  </nb-sidebar>
</nb-layout>
