<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="current Open Work Orders: {{admin_open_workorders.total}}" type="info"
                         (click)="prefs.open_workorders = !prefs.open_workorders" [on]="prefs.open_workorders">
          <i class="fa fa-wrench"></i>
        </ngx-status-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Work Orders created yesterday: {{admin_open_workorders.new}}"
                         type="success" (click)="prefs.new_workorders = !prefs.new_workorders"
                         [on]="prefs.new_workorders">
          <i class="fa fa-wrench"></i>
        </ngx-status-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Work Orders older than 10 days: {{admin_open_workorders.old}}"
                         type="warning" (click)="prefs.old_workorders = !prefs.old_workorders"
                         [on]="prefs.old_workorders">
          <i class="fa fa-wrench"></i>
        </ngx-status-card>
      </div>
    </div>

    <button (click)="saveSettings(prefs)">Save Settings</button>
  </nb-card-body>
</nb-card>
