<nb-card>
  <nb-card-header>
    <h3>New Work Order</h3>
    <hr>
    <div class="row show-grid">
      <div class="col-sm-6 input-group">
        <label class="col-sm-4 form-control" for="number">Unit number</label>
        <input class="col-sm-6 form-control" id="number" [(ngModel)]="number" name="number">
        <button class="btn btn-success btn-sm" *ngIf="number_submitted === false" (click)="getUnit(number)">Submit
        </button>
      </div>
      <div class="col-sm-6 input-group" [hidden]="!unit.number">
        <label for="operator" class="col-sm-4 form-control">Select Operator: </label>
        <span>
          <input ngui-auto-complete class="ngui-auto-complete form-control" [(ngModel)]="work_order.operator_id"
                 id="operator" [source]="operators" [list-formatter]="operatorValueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Operator" max-num-list="10">
        </span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid" [hidden]="!unit.number">
      <div class="col-sm-6 input-group">
        <label for="meter" class="col-sm-4 form-control">Meter</label>
        <input placeholder="Meter" [(ngModel)]="work_order.meter" id="meter" name="meter" type="text"
               class="form-control">
      </div>

      <div class="col-sm-6">
        <button class="btn btn-warning btn-tn" (click)="assign = !assign">Assign</button>
        <button [hidden]="!assign" class="btn btn-success btn-tn"
                (click)="work_order.vendor = null; mechanic = true; vendor_select = false;">Mechanic
        </button>
        <button [hidden]="!assign" class="btn btn-success btn-tn"
                (click)="work_order.mechanic = null; vendor_select = true; mechanic = false;">Vendor
        </button>
        <button [hidden]="!assign" class="btn btn-warning btn-tn"
                (click)="assign = false; vendor_select = false; mechanic = false;">Cancel
        </button>

        <div class="input-group" [hidden]="!mechanic">
          <label for="mechanic" class="col-sm-4 form-control">Mechanic </label>
          <span>
          <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="work_order.mechanic"
                 id="mechanic" [source]="mechanics" [list-formatter]="mechanicValueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Mechanic">
        </span>
        </div>
        <div class="input-group" [hidden]="!vendor_select">
          <label for="vendor" class="col-sm-4 form-control">Vendor </label>
          <span>
          <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="work_order.vendor"
                 id="vendor" [source]="vendors" [list-formatter]="vendorValueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Vendor">
        </span>
        </div>
      </div>

      <div class="col-sm-6 input-group">
        <label for="unit_status" class="col-sm-4 form-control">Unit Status</label>
        <select id="unit_status" [(ngModel)]="unit.unit_status_id" [value]="unit.unit_status_id" class="form-control" name="unit_status">
          <ng-container *ngFor="let unit_status of unit_statuses">
            <option [value]="unit_status.id"> {{unit_status.status}} </option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-6 input-group">
        <label class="col-sm-2 form-control" for="location">Location: </label>
        <input [(ngModel)]="work_order.location" type="text" name="location" id="location" class="form-control">
      </div>
    </div>
    <br>
    <br>
    <div>
      <ngx-properties [unit]="unit"></ngx-properties>
    </div>
    <div class="col s6" [hidden]="!unit.unit_type">
      <label for="other">Other</label>
      <input id="other" [(ngModel)]="other" name="other" type="checkbox">
      <input type="text" [(ngModel)]="work_order.other_description" name="other_description" class="form-control">
    </div>
  </nb-card-body>
</nb-card>

<div class="right-align" [hidden]="!unit.number">
  <button class="btn btn-success btn-sm" (click)="submitWorkOrder(work_order)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
  <a *ngIf="unit.id" [routerLink]="['/pages/units/unit_detail', unit.id]">Cancel</a>
  <a *ngIf="!unit.id" [routerLink]="['/pages/work_orders']">Cancel</a>
</div>
