<nb-card>
  <nb-card-header>
    <div class="row">
      <h3>Log List</h3>
      <nb-actions>
        <nb-action>
          <a [routerLink]="['logs_creation']" id="create_log" class="btn btn-warning btn-tn">Create Log</a>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onLogClick($event)"
                     [source]="logSource"></ng2-smart-table>

  </nb-card-body>
</nb-card>
