<nb-card>
    <nb-card-header>
      <ngx-work-order-detail-header [work_order]="work_order" [id]="id" [unit]="unit" [edit]="edit"
                                    (onEdit)="onEdit()" [unit_status_edit]="unit_status_edit"
                                    (onUnitStatusEdit)="editUnitStatus()" (onNext)="onNext($event)"
                                    (onPrev)="onNext($event)">
      </ngx-work-order-detail-header>
    </nb-card-header>
    <nb-card-body>
      <div class="row show-grid">
        <div class="col-sm-6 form-group">
          <label>Work Order #: </label> {{work_order.id}}
          <br>
          <label>Date Created: </label> {{work_order.created_at | date}}
          <br>
          <span *ngIf="edit===false"><label  style="color: #000000">Status: </label> {{work_order.workorder_status}}</span>
          <span *ngIf="edit===true">
            <ngx-work-order-status [edit]="edit" [work_order]="work_order"></ngx-work-order-status>
            <button class="btn btn-warning btn-tn" (click)="edit = false;">Cancel Edit</button>
          </span>
          <br>
          <div *ngIf="vendor !== null">
            <label>Vendor Assigned: </label> {{vendor.name}} <br>
            <label>Vendor Contact: </label> {{vendor.contact_name}} <br>
            <label>Vendor Phone Number: </label> {{vendor.phone_number}}
          </div>
          <span *ngIf="work_order.mechanic !== null"><label  style="color: #000000">Mechanic Assigned: </label> {{work_order.mechanic}}</span>
          <br>
          <button class="btn btn-warning btn-tn" (click)="assign = !assign">Assign</button>
          <button [hidden]="!assign" class="btn btn-success btn-tn" (click)="assignMechanic()">Mechanic</button>
          <button [hidden]="!assign" class="btn btn-success btn-tn" (click)="assignVendor()">Vendor</button>
          <button [hidden]="!assign" class="btn btn-warning btn-tn" (click)="cancelAssignment()">Cancel</button>
          <div class="input-group" [hidden]="!mechanic">
            <label for="mechanic" class="col-sm-4 form-control">Mechanic </label>
            <span style="color: blue">
          <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="work_order.mechanic"
                 id="mechanic"
                 [source]="mechanics"
                 [list-formatter]="valueFormatter"
                 value-property-name="id"
                 display-property-name="name"
                 auto-complete-placeholder="Select Mechanic">
            </span>
          </div>
          <div class="input-group" [hidden]="!vendor_select">
            <label for="vendor" class="col-sm-4 form-control">Vendor </label>
            <span style="color:blue">
            <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="work_order.vendor"
                   id="vendor"
                   [source]="vendors" [list-formatter]="valueFormatter"
                   value-property-name="id"
                   display-property-name="name"
                   auto-complete-placeholder="Select Vendor">
          </span>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12 input-group">
              <label class="form-control col-sm-3" for="other_description">Brief Description: </label>
              <input [(ngModel)]="work_order.other_description" [value]="work_order.other_description" type="text" name="other_description" id="other_description" class="form-control col-sm-9">
            </div>
            <div class="col-sm-12 input-group">
              <label class="form-control col-sm-3" for="location">Location: </label>
              <input [(ngModel)]="work_order.location" [value]="work_order.location" type="text" name="location" id="location" class="form-control col-sm-9">
            </div>
          </div>
          <hr>
          <button class="btn btn-success btn-md" (click)="updateWorkOrder(work_order)">Update Work Order
            <i class="material-icons right">&rarr;</i>
          </button>
        </div>
        <div class="col-sm-6 form-group">
          <label>Unit: </label> <a *ngIf="unit" [routerLink]="['/pages/units/unit_detail/', unit?.id]">{{work_order.unit?.number}}</a>
          <br>
          <label>Description: </label> {{work_order.unit?.description}}
          <br>
          <span [hidden]="unit_status_edit">
            <label  style="color: #000000">Unit Status: </label> {{work_order.unit?.unit_status?.status}}
          </span>
          <div *ngIf="unit_status_edit">
            <ngx-unit-status (onEdit)="onEditStatus()" [unit_status_edit]="unit_status_edit" [unit]="unit"></ngx-unit-status>
            <button class="btn btn-warning btn-tn" (click)="unit_status_edit = false;">Cancel Edit</button>
          </div>
          <br>
        </div>
      </div>
      <hr>
      <nb-tabset>
        <nb-tab tabTitle="Tasks">
          <nb-card class="col-sm-12">
            <nb-card-header>
              Workorder Tasks
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table id="mfTable2" [settings]="task_settings"
                               [source]="tasks_source"
                               (userRowSelect)="onEditTask($event)"
                               (createConfirm)="createTask($event)"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Notes">
          <nb-card>
            <nb-card-header>
              <h3>Workorder Notes</h3>
            </nb-card-header>
            <nb-card-body>
              <ngx-messages [messages]="messages"></ngx-messages>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Call Logs">
          <ngx-call-interface [call_log_source]="call_log_source"></ngx-call-interface>
        </nb-tab>
        <nb-tab tabTitle="Parts">
          <nb-card>
            <nb-card-header>
              <h3>Parts</h3>
            </nb-card-header>
            <nb-card-body>
              <ngx-part-interface [work_order]="work_order" [part_source]="part_source"></ngx-part-interface>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Purchase Orders">
          <label>Purchase Orders</label>
          <ng2-smart-table [settings]="purchase_order_settings"
                           [source]="purchase_orders"
                           (createConfirm)="createPurchaseOrder($event)"
                           (editConfirm)="editPurchaseOrder($event)"></ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
</nb-card>
