<nb-card>
  <nb-card-header>
    <div class="row">
      <h3>Parts List</h3>
      <nb-actions>
        <nb-action>
          <a [routerLink]="['part_creation']" id="create_part" class="btn btn-warning btn-tn">Create Part</a>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onPartClick($event)"
                     [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
