<div class="modal-header">
  <span>Order a Part</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="qty" class="col-sm-4 form-control">Quantity</label>
      <input id="qty" [(ngModel)]="part.qty" name="qty" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label for="description" class="col-sm-4 form-control">Description</label>
      <input id="description" [(ngModel)]="part.description" name="description" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label for="number" class="col-sm-4 form-control">Part Number</label>
      <input id="number" [(ngModel)]="part.number" name="number" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label for="cost" class="col-sm-4 form-control">Cost</label>
      <input id="cost" [(ngModel)]="part.unit_cost" name="cost" class="form-control">
    </div>
    <div class="col-sm-12 input-group">
      <label for="vendor" class="col-sm-4 form-control">Select Vendor: </label>
      <font color="blue"><input ngui-auto-complete class="ngui-auto-complete form-control" [(ngModel)]="part.vendor_id"
                                id="vendor" [source]="vendors" [list-formatter]="vendorValueFormatter"
                                value-property-name="id" display-property-name="name"
                                auto-complete-placeholder="Select Vendor"></font>
    </div>
  </div>
  <div class="col-sm-6 input-group">
    <label for="filter" class="col-sm-4 form-control">Filter?</label>
    <input type="checkbox" id="filter" [(ngModel)]="part.filter" name="filter" class="form-control">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="orderPart(part)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
</div>
