<!--suppress ALL -->
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="Report">
          <ngx-weekly-reports></ngx-weekly-reports>
        </nb-tab>
        <nb-tab tabTitle="Work Orders">
          <nb-card>
            <nb-card-header>
              Work Orders created by Logs
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table id="mfTable" [settings]="all_open_work_order_settings"
                               (userRowSelect)="onWorkOrderClick($event)"
                               [source]="log_workorders_source"></ng2-smart-table>
            </nb-card-body>
          </nb-card>

          <nb-card *ngIf="prefs.open_workorders">
            <nb-card-header>
              All current open workorders!
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table id="mfTable" [settings]="all_open_work_order_settings"
                               (userRowSelect)="onWorkOrderClick($event)"
                               [source]="all_workorder_source"></ng2-smart-table>
            </nb-card-body>
          </nb-card>

          <nb-card *ngIf="prefs.new_workorders">
            <nb-card-header>
              Work Orders created yesterday!
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table id="mfTable" [settings]="all_open_work_order_settings"
                               (userRowSelect)="onWorkOrderClick($event)"
                               [source]="new_workorder_source"></ng2-smart-table>
            </nb-card-body>
          </nb-card>

          <nb-card *ngIf="prefs.old_workorders">
            <nb-card-header>
              Open work orders over 10 days old!
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table id="mfTable" [settings]="all_open_work_order_settings"
                               (userRowSelect)="onWorkOrderClick($event)"
                               [source]="old_workorder_source"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Parts">
          <ngx-part-dashboard></ngx-part-dashboard>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
