<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="Dashboard Settings">
          <ngx-dashboard-settings></ngx-dashboard-settings>
        </nb-tab>
        <nb-tab tabTitle="Company Settings">
          <ngx-company-settings></ngx-company-settings>
        </nb-tab>
        <nb-tab tabTitle="User Settings">
          <ngx-user-settings></ngx-user-settings>
        </nb-tab>
        <nb-tab tabTitle="Unit Settings">
          <ngx-unit-settings></ngx-unit-settings>
        </nb-tab>
        <nb-tab tabTitle="Part Settings">
          <ngx-part-settings></ngx-part-settings>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
