<nb-card>
  <nb-card-header>
    <div class="row">
      <h4>Current Users</h4>
      <nb-actions>
        <nb-action>
          <button type="button" class="btn btn-info btn-tn" (click)="createUser()">Create User</button>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="editUser($event)"
                       [source]="userModalService.users_source"></ng2-smart-table>
      <!--<table datatable class="row-border hover" [dtTrigger]="dtTrigger">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>ID</th>-->
          <!--<th>Name</th>-->
          <!--<th>Email</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr *ngFor="let user of this.users" (click)="this.editUser($event)">-->
          <!--<td>{{ user.id }}</td>-->
          <!--<td>{{ user.name }}</td>-->
          <!--<td>{{ user.email }}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    </div>
  </nb-card-body>
</nb-card>
