<nb-card>
  <nb-card-header>
    <h3>Workorder Call Logs</h3>
    <button class="btn btn-success btn-tn" (click)="callLogButtonClick()">Create Call Log</button>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onCallLogClick()"
                     [source]="call_log_source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
