<nb-card>
  <nb-card-header>
    <div class="row">
      <h3>Unit List</h3>
      <nb-actions>
        <nb-action>
          <a [routerLink]="['unit_creation']" class="btn btn-warning btn-tn">Create Unit</a>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="unit_source"
                     (userRowSelect)="onUnitClick($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
