<ngx-auth-block>
  <h2 style="padding-left: 10%" class="title">
    Sign In
  </h2>
  <small style="padding-left: 15%" class="form-text sub-title">
    Sign in with your email and password
  </small>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="form-horizontal">
    <div class="form-group row">
      <label for="Email" class="col-sm-2 control-label">Email Address</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label for="Password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-block btn-hero-success">Sign In
        </button>
      </div>
    </div>
  </form>
  <p style="padding-left: 20%">This application does not support antiquated browsers such as Internet Explorer.
    If that is your preferred browser of choice, please use Microsoft Edge.</p>
</ngx-auth-block>
