<nb-card>
  <nb-card-header>
    New Part
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-sm-6 input-group">
        <label for="number" class="col-sm-4 form-control">Part Number</label>
        <input id="number" [(ngModel)]="part.number" name="number" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="description" class="col-sm-4 form-control">Description</label>
        <input id="description" [(ngModel)]="part.description" name="description" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="cost" class="col-sm-4 form-control">Cost</label>
        <input id="cost" [(ngModel)]="part.unit_cost" name="cost" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="qty" class="col-sm-4 form-control">Quantity</label>
        <input id="qty" [(ngModel)]="part.qty" name="qty" class="form-control">
      </div>
    </div>
    <hr>
    <div class="right-align">
      <button class="btn btn-success btn-sm" (click)="submitPart()">Submit
        <i class="material-icon right">&rarr;</i>
      </button>
      <a [routerLink]="['/pages/parts/']">Cancel</a>
    </div>
  </nb-card-body>
</nb-card>
