<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <a href="#" class="logo" (click)="goToHome()"><img height="64dp" [src]="logo">Pumpco Repairs</a>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action *nbIsGranted="['view', 'user']">
    <nb-user
      id="user-menu"
      [nbContextMenu]="userMenu"
      [nbContextMenuTag]="user_tag"
      [name]="email"
      [picture]="picture">
    </nb-user>
  </nb-action>
  <nb-action class="control-item"
             id="notification-menu"
             icon="nb-notifications"
             badgePosition="top left"
             [nbContextMenuTag]="notification_tag"
             [badgeText]="apiService.messageCount"
             [nbContextMenu]="apiService.notifications" >
  </nb-action>
  <nb-action class="control-item"
             *ngIf="admin"
             id="escalation-menu"
             icon="fa fa-exclamation-circle"
             badgePosition="top left"
             [nbContextMenuTag]="escalation_tag"
             [badgeText]="apiService.escalationCount"
             [nbContextMenu]="apiService.escalations">
  </nb-action>

  <!--<nb-action class="control-item" icon="nb-email"></nb-action>-->
  <!--<nb-action class="control-item">-->
    <!--<nb-search type="rotate-layout" (search)="finishSearch($event)" (click)="startSearch()"></nb-search>-->
  <!--</nb-action>-->
</nb-actions>
