<nb-card>
  <nb-card-header>
    <div class="col s12 row">
      <div class="col s6">
        <h2>User Detail</h2>
      </div>
      <div class="col s6">
        <button class="btn btn-danger btn-tn" (click)="editUser()">Edit</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <h4>Employee Information</h4>
    <hr>
    <div class="row col s12">
      <div class="col s6">
        Status: {{user.user_status}} <br> Role: {{roles}} <br> Job: {{job.name}}
      </div>
      <div class="col s6">
        Email: {{user.email}} <br> Name: {{user.name}} <br> Employee #: {{user.employee_number}}
      </div>
    </div>
    <hr>
    <h4>Usage Information</h4>
    <hr>
    <div class="row col s12">
      <div class="col s6">
        Number of times signed in: {{user.sign_in_count}}
        <br>
        Date last signed in: {{user.last_sign_in_at | date}}
        <br>
        IP Address last signed in from: {{user.last_sign_in_ip}}
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="col s12">
  <nb-card-header>
    Currently assigned Work Orders
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="assigned_workorder_settings"
                     [source]="current_wo" (userRowSelect)="selectWorkOrder($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card class="col s12">
  <nb-card-header>
    Completed Work Orders
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="completed_workorder_settings"
                     [source]="old_wo" (userRowSelect)="selectWorkOrder($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card class="col s12">
  <nb-card-header>
    Completed Tasks
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="completed_task_settings"
                     [source]="complete_tasks"></ng2-smart-table>
  </nb-card-body>
</nb-card>
