<nb-card>
  <nb-card-header>
    <h3>All Timecards!</h3>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable1" [settings]="timesheet_settings" (userRowSelect)="onTimesheetClick($event)"
                     [source]="timesheet_source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
