label {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

#create_log {
  position: absolute;
  top: 80px;
}

#mfTable {
  position: relative;
  top: 80px;
}

.radio-button-css {
  position: relative !important;
  z-index: 12;
/ / opacity: 1 !important;
  left: 18px !important;
}

#unit_type {
  width: 100px;
}

#unit_type option {
  width: 50px;
}

#job_name {
  width: 370px;
}

#job_name option {
  width: 150px;
}

.checkbox-indigo[type='checkbox'] + label::before {
  border: 2px solid red;
  background: transparent;
}

[type='checkbox']:checked + label::before {
  border: 2px solid transparent;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  background: transparent;
}
