<nb-card>
  <nb-card-body>
    <nb-actions>
      <nb-action>
        <button (click)="openUnitTypeModal()" class="btn btn-warning btn-tn">Create Unit Type</button>
      </nb-action>
      <nb-action>
        <button (click)="openUnitSubTypeModal()" class="btn btn-warning btn-tn">Create Unit Class</button>
      </nb-action>
      <nb-action>
        <button (click)="openUnitStatusModal()" class="btn btn-warning btn-tn">Create Unit Status</button>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
