<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        <nb-actions size="large" class="nav-menu">
          <nb-action class="control-item">
            <button class="btn btn-success btn-tn previousButton" (click)="previousUnit()">Previous Unit</button>
          </nb-action>
          <nb-action class="control-item">
            <div class="col-sm-12 input-group unit_search">
              <label class="col-sm-6 form-control" for="unit_search">Search Units</label>
              <!--<input class="form-control" type="text" name="unit_search" id="unit_search" (keyup.enter)="findUnit(item.value)" #item />-->
              <input ngui-auto-complete class="form-control" [source]="units" value-property-name="id" id="unit_search"
                     display-property-name="number" auto-complete-placeholder="Search Units" max-num-list="10" [list-formatter]="valueFormatter"
                     (keyup.enter)="findUnit(item.value)" #item>
            </div>
          </nb-action>
          <nb-action class="control-item">
            <button class="btn btn-success btn-tn nextButton" (click)="nextUnit()">Next Unit</button>
          </nb-action>
        </nb-actions>
      </div>
    </div>
    <br>
    <div class="row">
      <h3>Unit {{unit.number}} Details: </h3>
      <nb-actions>
        <nb-action class="control-item">
          <button class="btn btn-info btn-tn" [routerLink]="['/pages/units/unit_edit/', id]">Edit</button>
        </nb-action>
        <nb-action class="control-item">
          <button class="btn btn-warning btn-tn" [routerLink]="['/pages/logs/logs_creation/', unit.number]">Create Log</button>
        </nb-action>
        <nb-action class="control-item">
          <button class="btn btn-warning btn-tn" [routerLink]="['/pages/work_orders/work_order_creation/', unit.number]">Create Work Order</button>
        </nb-action>
        <nb-action class="control-item">
          <button class="btn btn-success btn-tn" (click)="addPartOrderedAndInstalled()">Add part</button>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row col s12">
      <div class="col s6">
        <label>Unit Type: </label>{{unit.unit_type?.utype}} <br>
        <label>Unit Class: </label>{{unit.unit_subtype?.subtype}} <br>
        <label>Unit ID: </label> {{unit.id}} <br>
        <label>Unit Description: </label> {{unit.description}} <br>
        <label>Operator: </label> <a (click)="operatorClicked()" [routerLink]="['/pages/units/unit_detail/', unit.id]" >{{unit.operator}}</a> <br>
        <label>Meter: </label>{{unit?.meter}}
      </div>
      <div class="col s6">
        <label>VIN/SN: </label> {{unit.vin_sn}}
        <br>
        <label>Plate: </label> {{unit.plate}}
        <br>
        <label>Registration Date: </label> {{unit.registration_date | date}}
        <br>
        <label>Owned By: </label> {{unit.company?.name}}
        <br>
        <label>Job: </label> {{unit.job?.name}}
        <br>
        <label>CADR: </label>{{unit?.cadr}}
      </div>
    </div>
    <hr>
    <div class="col s12">
      <nb-tabset>
        <nb-tab tabTitle="Components">
          <nb-card>
            <nb-card-header>
              Component Info
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table [settings]="component_info_settings" [source]="component_info" (editConfirm)="editComponent($event)"
                               (createConfirm)="createComponent($event)"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Work Orders">
          <nb-card>
            <nb-card-header>
              Unit Workorders
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table [settings]="wo_settings" [source]="work_orders"
                               (userRowSelect)="onWorkOrderClick($event)"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Logs">
          <nb-card>
            <nb-card-header>
              Unit Logs
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table [settings]="log_settings" [source]="logs"
                               (userRowSelect)="onLogClick($event)"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Activity Log">
          <nb-card>
            <nb-card-header>
              Unit Activity Log
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table [settings]="activity_settings" [source]="activity_logs"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Filters">
          <nb-card>
            <nb-card-header>
              Unit Filters
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table [settings]="parts_settings" [source]="filter_parts"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Parts">
          <nb-card>
            <nb-card-header>
              Unit Parts
            </nb-card-header>
            <nb-card-body>
              <ng2-smart-table [settings]="parts_settings" [source]="parts"
                               (userRowSelect)="onPartClick($event)"></ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>
