<div *ngIf="this.messages!== []">
  <h3>Current Notes</h3>
  <hr>
  <div *ngFor="let message_ of messages">
    <nb-card>
      <nb-card-header class="header primary">
        <strong style="color: #000;">Made By: </strong>{{message_.users[0].name}}
        <strong style="color: #000000">On: </strong>{{message_.created_at | date}}
      </nb-card-header>
      <nb-card-body>
        <strong>{{message_.message}}</strong>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<h3>Post a Note</h3>
<form (ngSubmit)="postMessage(message)">
  <label>Message: </label>
  <p>
    <textarea [(ngModel)]="message.message" name="{{'message_text' + index}}" rows="4" cols="50"
              placeholder=""></textarea>
  </p>
  <br>
  <button class="btn btn-primary" type="submit">Post Message</button>
</form>
