@import '../../main/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
  nb-card {

    $bevel: btn-hero-bevel(nb-theme(card-bg));
    $shadow: nb-theme(btn-hero-shadow);
    box-shadow: $bevel, $shadow;

    .header {
      color: nb-theme(color-white);

      &.primary {
        color: nb-theme(color-fg);
      }
      &.success {
        color: nb-theme(color-success);
      }
      &.info {
        color: nb-theme(color-info);
      }
      &.warning {
        color: nb-theme(color-warning);
      }
      &.danger {
        color: nb-theme(color-danger);
      }
    }
  }
}
label {
  font-weight: bold;
}
