<nb-card>
  <nb-card-header>
    <button class="btn btn-info btn-tn" (click)="createMechCSV()">Export MechCSV</button>
    <button class="btn btn-warning btn-tn" (click)="createVendorCSV()">Export VendorCSV</button>
    <button class="btn btn-info btn-tn" (click)="createAuctionCSV()">Export AuctionCSV</button>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Vendor Work Orders">
        <ng2-smart-table id="mfTable" (userRowSelect)="onWorkOrderClick($event)" [settings]="vendor_settings"
                         [source]="vendor_source" (editConfirm)="onEditConfirm($event)"></ng2-smart-table>
      </nb-tab>
      <nb-tab tabTitle="Mechanic Work Orders">
        <ng2-smart-table id="mfTable1" (userRowSelect)="onWorkOrderClick($event)" [settings]="mech_settings"
                         [source]="mechanic_source" (editConfirm)="onEditConfirm($event)"></ng2-smart-table>
      </nb-tab>
      <nb-tab tabTitle="Auction Units">
        <ng2-smart-table id="mfTable2" (userRowSelect)="onAuctionClick($event)" [settings]="auction_settings"
                         [source]="auction_source" (editConfirm)="onUnitEditConfirm($event)"></ng2-smart-table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
