<nb-card>
  <nb-card-header>
    Create a Company
  </nb-card-header>
  <nb-card-body>

    <div class="row show-grid">
      <div class="col-sm-6 input-group">
        <label for="name" class="col-sm-4 form-control">Company Name </label>
        <input id="name" [(ngModel)]="company.name" name="name" class="form-control">
      </div>
    </div>

    <button class="btn btn-md btn-primary" (click)="createCompany(company)">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
    <hr>
    Current Companies
    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onCompanyClick($event)"></ng2-smart-table>
    <!--<table datatable class="row-border hover dataTable" [dtTrigger]="dtTrigger">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>Name</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let company of companies" (click)="onCompanyClick($event)">-->
        <!--<td>{{company.name}}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  </nb-card-body>
</nb-card>
