<nb-card>
  <nb-card-header>
    Log {{log.id}} | <a [routerLink]="['/pages/units/unit_detail/', log.unit_id]"><style color="red">View Unit</style></a>
    |
    <a [routerLink]="['/pages/work_orders/work_order_detail/', log.workorder.id]" *ngIf="log.workorder"><style
      color="yellow">View
      Work Order</style></a>
  </nb-card-header>
  <nb-card-body>
    <label>Date Created: </label> {{log.created_at | date}}
    <br>
    <label>Created By: </label> {{log.created_by}}
    <br>
    <label>Unit: </label> {{log.unit_number}}
    <br>
    <label>Deficiency: </label> {{log.deficiency}}
    <br>
    <label>Job: </label> {{log.job}}
    <br>
    <label>Operator: </label> {{log.operator}}
  </nb-card-body>
</nb-card>
