<ngx-auth-block>
  <h2 class="title">
    Forgot Password
  </h2>
  <small class="form-text sub-title">
    Enter your email adress and we\u2019ll send a link to reset your password
  </small>
  <form (ngSubmit)="requestPass()" #requestPassForm="ngForm">
    <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
         class="alert alert-danger" role="alert">
      <div>
        <strong>
          Oh snap!
        </strong>
      </div>
      <div *ngFor="let error of errors">
        {{ error }}
      </div>
      </div>
    <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
         class="alert alert-success" role="alert">
      <div>
        <strong>
          Hooray!
        </strong>
      </div>
      <div *ngFor="let message of messages">
        {{ message }}
      </div>
      </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">
        Enter your email address
      </label>
      <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel"
             class="form-control" placeholder="Email address" pattern=".+@.+..+"
             [class.form-control-danger]="email.invalid && email.touched"
             [required]="getConfigValue('forms.validation.email.required')"
             autofocus>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
        Email is required!
        </small>
      <small class="form-text error"
             *ngIf="email.invalid && email.touched && email.errors?.pattern">
        Email should be the real one!
        </small>
      </div>
    <button [disabled]="submitted || !requestPassForm.form.valid" class="btn btn-hero-success btn-block"
            [class.btn-pulse]="submitted">
      Request password
      </button>
    </form>
  <div class="links col-sm-12">
    <small class="form-text">
      Already have an account?
  <a routerLink="..login">
  <strong>
  Sign In
</strong>
  </a>
</small>
  </div>
</ngx-auth-block>
