
    <div class="col s12 row">
      <div class="col s6">
        <h2>Edit User</h2>
      </div>
      <div class="col s6">
        <button type="button" class="btn btn-danger btn-tn" (click)="resetUserPassword()">Reset Password
        </button>
      </div>
    </div>
    <div class="col s12 row">
      <div class="col-sm-6 input-group">
        <label for="status" class="col-sm-4 form-control">Status </label>
        <select required [(ngModel)]="user.user_status" id="status" [value]='user.user_status' name="status"
        class="form-control">
        <option>{{user.user_status}}</option>
        <option *ngIf="user.user_status !== 'Active'">Active</option>
        <option>Inactive</option>
        </select>
      </div>
      <div class="col-sm-6 input-group">
        <label for="email" class="col-sm-4 form-control">Email </label>
        <input required type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control">
      </div>
      <div class="col s6 input-group">
        <label for="role" class="col-sm-4 form-control">Roles: </label>
        <angular2-multiselect [data]="dropdownList" [(ngModel)]="user.roles" id="role" class="form-control"
                              [settings]="dropDownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)">
          <c-item>
            <ng-template let-item="item">
              <label id="blue">{{item.authority}}</label>
            </ng-template>
          </c-item>
        </angular2-multiselect>
      </div>
      <div class="col-sm-6 input-group">
        <label for="job" class="col-sm-4 form-control">Job: </label>
        <select id="job" class="form-control" [(ngModel)]="user.job" name="job">
          <ng-container *ngFor="let job of jobs">
            <option>{{job.name}}</option>
            <option *ngIf="job.name!=job.name" [value]="job.id">{{job.name}}</option>
          </ng-container>
        </select>
      </div>

      <div class="col-sm-6 input-group">
        <label for="name" class="col-sm-4 form-control">Name </label>
        <input required type="text" id="name" [(ngModel)]="user.name" name="name" class="form-control">
      </div>


      <div class="col-sm-6 input-group">
        <label for="employee_number" class="col-sm-4 form-control">Employee # </label>
        <input id="employee_number" required [(ngModel)]="user.employee_number" name="employee_number"
               class="form-control">
      </div>

    </div>
<div class="col s12">
  <button type="button" class="btn btn-success btn-sm" (click)="editUser()">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
  <a [routerLink]="['/pages/users/detail', user.id]">Cancel</a>
</div>
