<nb-card>
  <nb-card-body>
    <div [formGroup]="trailerPropForm">
      <div class="row show-grid">
        <div class="col-sm-6">
          Suspension:
          <br>
          <input id="suspension_ok" type="radio" formControlName="suspension" value="ok">
          <label for="suspension_ok">Ok</label>
          <input id="suspension_defect" class="with-gap" type="radio" formControlName="suspension" value="defective">
          <label for="suspension_defect">Defective</label>
          <input id="suspension_na" class="na" type="radio" formControlName="suspension" value="na">
          <label for="suspension_na">N/A</label>
          <br>
          Brakes:
          <br>
          <input id="brakes_ok" type="radio" formControlName="brakes" value="ok">
          <label for="brakes_ok">Ok</label>
          <input id="brakes_defect" type="radio" class="with-gap" formControlName="brakes" value="defective">
          <label for="brakes_defect">Defective</label>
          <input id="brakes_na" class="na" type="radio" formControlName="brakes" value="na">
          <label for="brakes_na">N/A</label>
          <br>
          Tires/Wheels:
          <br>
          <input id="tires_wheels_ok" type="radio" formControlName="tires_wheels" value="ok">
          <label for="tires_wheels_ok">Ok</label>
          <input id="tires_wheels_defect" type="radio" class="with-gap" formControlName="tires_wheels"
                 value="defective">
          <label for="tires_wheels_defect">Defective</label>
          <input id="tires_wheels_na" class="na" type="radio" formControlName="tires_wheels" value="na">
          <label for="tires_wheels_na">N/A</label>
          <br>
          Hub Seals:
          <br>
          <input id="hub_seals_ok" type="radio" formControlName="hub_seals" value="ok">
          <label for="hub_seals_ok">Ok</label>
          <input id="hub_seals_defect" type="radio" class="with-gap" formControlName="hub_seals" value="defective">
          <label for="hub_seals_defect">Defective</label>
          <input id="hub_seals_na" class="na" type="radio" formControlName="hub_seals" value="na">
          <label for="hub_seals_na">N/A</label>
          <br>
          Kingpin:
          <br>
          <input id="kingpin_ok" type="radio" formControlName="kingpin" value="ok">
          <label for="kingpin_ok">Ok</label>
          <input id="kingpin_defect" type="radio" class="with-gap" formControlName="kingpin" value="defective">
          <label for="kingpin_defect">Defective</label>
          <input id="kingpin_na" class="na" type="radio" formControlName="kingpin" value="na">
          <label for="kingpin_na">N/A</label>
          <br>
          Apron:
          <br>
          <input id="apron_ok" type="radio" formControlName="apron" value="ok">
          <label for="apron_ok">Ok</label>
          <input id="apron_defect" type="radio" class="with-gap" formControlName="apron" value="defective">
          <label for="apron_defect">Defective</label>
          <input id="apron_na" class="na" type="radio" formControlName="apron" value="na">
          <label for="apron_na">N/A</label>
          <br>
          Reflective Tape:
          <br>
          <input id="reflective_tape_ok" type="radio" formControlName="reflective_tape" value="ok">
          <label for="reflective_tape_ok">Ok</label>
          <input id="reflective_tape_defect" type="radio" class="with-gap" formControlName="reflective_tape"
                 value="defective">
          <label for="reflective_tape_defect">Defective</label>
          <input id="reflective_tape_na" class="na" type="radio" formControlName="reflective_tape" value="na">
          <label for="reflective_tape_na">N/A</label>
          <br>
          Tail Lights:
          <br>
          <input id="tail_lights_ok" type="radio" formControlName="tail_lights" value="ok">
          <label for="tail_lights_ok">Ok</label>
          <input id="tail_lights_defect" type="radio" class="with-gap" formControlName="tail_lights" value="defective">
          <label for="tail_lights_defect">Defective</label>
          <input id="tail_lights_na" class="na" type="radio" formControlName="tail_lights" value="na">
          <label for="tail_lights_na">N/A</label>
          <br>
          Stop Lights:
          <br>
          <input id="stop_lights_ok" type="radio" formControlName="stop_lights" value="ok">
          <label for="stop_lights_ok">Ok</label>
          <input id="stop_lights_defect" type="radio" class="with-gap" formControlName="stop_lights" value="defective">
          <label for="stop_lights_defect">Defective</label>
          <input id="stop_lights_na" class="na" type="radio" formControlName="stop_lights" value="na">
          <label for="stop_lights_na">N/A</label>
          <br>
          Turn Signals:
          <br>
          <input id="turn_signals_ok" type="radio" formControlName="turn_signals" value="ok">
          <label for="turn_signals_ok">Ok</label>
          <input id="turn_signals_defect" type="radio" class="with-gap" formControlName="turn_signals"
                 value="defective">
          <label for="turn_signals_defect">Defective</label>
          <input id="turn_signals_na" class="na" type="radio" formControlName="turn_signals" value="na">
          <label for="turn_signals_na">N/A</label>
        </div>
        <div class="col s6">
          Flashers:
          <br>
          <input id="flashers_ok" type="radio" formControlName="flashers" value="ok">
          <label for="flashers_ok">Ok</label>
          <input id="flashers_defect" type="radio" class="with-gap" formControlName="flashers" value="defective">
          <label for="flashers_defect">Defective</label>
          <input id="flashers_na" class="na" type="radio" formControlName="flashers" value="na">
          <label for="flashers_na">N/A</label>
          <br>
          Strobe Lights:
          <br>
          <input id="strobe_lights_ok" type="radio" formControlName="strobe_lights" value="ok">
          <label for="strobe_lights_ok">Ok</label>
          <input id="strobe_lights_defect" type="radio" class="with-gap" formControlName="strobe_lights"
                 value="defective">
          <label for="strobe_lights_defect">Defective</label>
          <input id="strobe_lights_na" class="na" type="radio" formControlName="strobe_lights" value="na">
          <label for="strobe_lights_na">N/A</label>
          <br>
          Gap:
          <br>
          <input id="gap_ok" type="radio" formControlName="gap" value="ok">
          <label for="gap_ok">Ok</label>
          <input id="gap_defect" type="radio" class="with-gap" formControlName="gap" value="defective">
          <label for="gap_defect">Defective</label>
          <input id="gap_na" class="na" type="radio" formControlName="gap" value="na">
          <label for="gap_na">N/A</label>
          <br>
          Landing Gear:
          <br>
          <input id="landing_gear_ok" type="radio" formControlName="landing_gear" value="ok">
          <label for="landing_gear_ok">Ok</label>
          <input id="landing_gear_defect" type="radio" class="with-gap" formControlName="landing_gear"
                 value="defective">
          <label for="landing_gear_defect">Defective</label>
          <input id="landing_gear_na" class="na" type="radio" formControlName="landing_gear" value="na">
          <label for="landing_gear_na">N/A</label>
          <br>
          Traffic Flags:
          <br>
          <input id="traffic_flags_ok" type="radio" formControlName="traffic_flags" value="ok">
          <label for="traffic_flags_ok">Ok</label>
          <input id="traffic_flags_defect" type="radio" class="with-gap" formControlName="traffic_flags"
                 value="defective">
          <label for="traffic_flags_defect">Defective</label>
          <input id="traffic_flags_na" class="na" type="radio" formControlName="traffic_flags" value="na">
          <label for="traffic_flags_na">N/A</label>
          <br>
          Oversize Signage:
          <br>
          <input id="oversize_signage_ok" type="radio" formControlName="oversize_signage" value="ok">
          <label for="oversize_signage_ok">Ok</label>
          <input id="oversize_signage_defect" type="radio" class="with-gap" formControlName="oversize_signage"
                 value="defective">
          <label for="oversize_signage_defect">Defective</label>
          <input id="oversize_signage_na" class="na" type="radio" formControlName="oversize_signage" value="na">
          <label for="oversize_signage_na">N/A</label>
          <br>
          Safety Chains:
          <br>
          <input id="safety_chains_ok" type="radio" formControlName="safety_chains" value="ok">
          <label for="safety_chains_ok">Ok</label>
          <input id="safety_chains_defect" type="radio" class="with-gap" formControlName="safety_chains"
                 value="defective">
          <label for="safety_chains_defect">Defective</label>
          <input id="safety_chains_na" class="na" type="radio" formControlName="safety_chains" value="na">
          <label for="safety_chains_na">N/A</label>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
