<div class="modal-header">
  <span>{{ part.description }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6">
      <label>Number: </label> {{part.number}}
    </div>
    <div class="col-sm-6">
      <label>Location: </label> {{part.location}}
    </div>
  </div>
  <div class="col-sm-6 input-group">
    <label class="col-sm-4 form-control" for="quantity">Quantity: </label>
    <input required [(ngModel)]="quantity" id="quantity" name="quantity" class="form-control">
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-success" (click)="updatePart(part)">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
  </div>
</div>
