<div class="modal-header">
  <span>Create Unit Class</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="unit_class" class="col-sm-4 form-control">Unit Class</label>
      <input id="unit_class" [(ngModel)]="unit_class.subtype" name="unit_class" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label for="unit_types" class="col-sm-4 form-control">Unit Type</label>
      <select required [(ngModel)]="unit_class.unit_type_id" id="unit_types" [value]='unit_class.unit_type_id'
              name="unit_types"
              class="form-control">
        <ng-container *ngFor="let unitType of unitTypes">
          <option [value]="unitType.id">{{unitType.utype}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="createUnitClass(unit_class)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
</div>
