<div class="modal-header">
  <span>Create Unit Status</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="ustatus" class="col-sm-4 form-control">Unit Status</label>
      <input id="ustatus" [(ngModel)]="unit_status.status" name="ustatus" class="form-control">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="createUnitType(unit_status)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
</div>
