<nb-card>
  <nb-card-header>
    <div class="row">
      <h4>My Profile</h4>
      <nb-actions>
        <nb-action>
          <button class="btn btn-danger btn-tn" (click)="editProfile()">Edit</button>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="col-sm-6">
      <img *ngIf="user.picture" [src]="user.picture" height="150dp" id="user_picture">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label style="color: #000000">Name:</label>
        {{user.name}}
        <br>
        <label style="color: #000000">Job: </label>
        {{user.job?.name}}
      </div>
      <div class="col-sm-6">
        <label style="color: #000000">Email: </label>
        {{user.email}}
        <br>
        <label style="color: #000000">Employee Number: </label>
        {{user.employee_number}}
      </div>
    </div>
  </nb-card-body>
</nb-card>
