<nb-card>
  <nb-card-header>
    Task # {{task.id}} <button (click)="editTask()">Edit Task</button>
  </nb-card-header>
  <nb-card-body>
    <label>Created On: </label>
    {{task.created_at | date}} <br>
    <label>Description: </label>
    {{task.description}}<br>
    <label>Completed: </label>
    {{task.complete}}<br>
    <label>Completed By: </label>
    {{task.completed_by?.name}}<br>
    <label>Completed On: </label>
    {{task.completed_on | date}}<br>
    <label>Estimated Date of Completion: </label>
    {{task.est_complete_date | date}} <br>
    <label>Mechanic(s) Assigned: </label>
    {{task.mechanic}} <br>
    <label>Vendor(s) Assigned: </label>
    {{task.vendors}} <br>
    <label>Arrived at Vendor: </label>
    {{task.arrived_at_vendor | date}} <br>
    <label>Picked up from Vendor: </label>
    {{task.picked_up_at | date}} <br>
  </nb-card-body>
</nb-card>
