<nb-card>
  <nb-card-header>
    <div class="col s12 row">
      <div class="col s6">
        Part: {{part.description}}
      </div>
      <!--<div class="col s6">-->
        <!--<button class="btn btn-danger btn-tn">Edit</button>-->
      <!--</div>-->
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row col s12">
      <div class="col s6">
        <label style="color: #000000">Part Number: </label> {{part.number}}
        <br>
        <label style="color: #000000">Cost: </label> {{part.total_cost | currency:'USD':true:'1.2-2'}}
      </div>
      <div class="col s6">
        <label style="color: #000000">Location: </label> {{part.i_location?.description}}
        <br>
        <label style="color: #000000">Quantity: </label> {{part.qty}}
      </div>
    </div>
  </nb-card-body>
</nb-card>
