<div class="modal-header">
  <span>Edit User</span>
  <button class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-sm-12 input-group">
    <label for="email" class="col-sm-3 form-control">Email</label>
    <input placeholder="first.last@email.com" required [(ngModel)]="user.email" id="email" name="email" type="email"
           class="form-control">
  </div>
  <div class="col-sm-12 input-group">
    <label class="col-sm-3 form-control" for="name">Name: </label>
    <input [(ngModel)]="user.name" id="name" name="name" class="form-control">
  </div>
  <hr>
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label class="col-sm-4 form-control" for="employee_number">Employee# </label>
      <input [(ngModel)]="user.employee_number" id="employee_number" name="employee_number" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label for="job" class="col-sm-4 form-control">Job: </label>
      <select id="job" class="form-control" [(ngModel)]="user.job_id" name="job">
        <option *ngFor="let job of jobs" [value]="job.id">{{job.name}}</option>
      </select>
    </div>
    <div class="col-sm-12 input-group">
      <label class="col-sm-4 form-control">Role: </label>
      <angular2-multiselect [data]="dropdownList" [(ngModel)]="user.roles" style="width: 85%;padding: 2%"
                            [settings]="dropDownSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)">
        <c-item>
          <ng-template let-item="item">
            <font style="color: blue"><label>{{item.authority}}</label></font>
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="editUser()">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
  </div>
</div>
