<nb-card>
  <nb-card-body>
    <div [formGroup]="equipmentPropForm">
      <div class="row show-grid">
        <div class="col-sm-6">
          Engine Oil:
          <br>
          <input id="engine_oil_ok" type="radio" formControlName="engine_oil" value="ok">
          <label for="engine_oil_ok">Ok</label>
          <input id="engine_oil_defect" class="with-gap" type="radio" formControlName="engine_oil" value="defective">
          <label for="engine_oil_defect">Defective</label>
          <input id="engine_oil_na" class="na" type="radio" formControlName="engine_oil" value="na">
          <label for="engine_oil_na">N/A</label>
          <br>
          Coolant:
          <br>
          <input id="coolant_ok" type="radio" formControlName="coolant" value="ok">
          <label for="coolant_ok">Ok</label>
          <input id="coolant_defect" type="radio" class="with-gap" formControlName="coolant" value="defective">
          <label for="coolant_defect">Defective</label>
          <input id="coolant_na" class="na" type="radio" formControlName="coolant" value="na">
          <label for="coolant_na">N/A</label>
          <br>
          Transmission:
          <br>
          <input id="transmission_ok" type="radio" formControlName="transmission" value="ok">
          <label for="transmission_ok">Ok</label>
          <input id="transmission_defect" type="radio" class="with-gap" formControlName="transmission"
                 value="defective">
          <label for="transmission_defect">Defective</label>
          <input id="transmission_na" class="na" type="radio" formControlName="transmission" value="na">
          <label for="transmission_na">N/A</label>
          <br>
          Hydraulic Oil:
          <br>
          <input id="hydraulic_oil_ok" type="radio" formControlName="hydraulic_oil" value="ok">
          <label for="hydraulic_oil_ok">Ok</label>
          <input id="hydraulic_oil_defect" type="radio" class="with-gap" formControlName="hydraulic_oil"
                 value="defective">
          <label for="hydraulic_oil_defect">Defective</label>
          <input id="hydraulic_oil_na" class="na" type="radio" formControlName="hydraulic_oil" value="na">
          <label for="hydraulic_oil_na">N/A</label>
          <br>
          Fuel:
          <br>
          <input id="fuel_ok" type="radio" formControlName="fuel" value="ok">
          <label for="fuel_ok">Ok</label>
          <input id="fuel_defect" type="radio" class="with-gap" formControlName="fuel" value="defective">
          <label for="fuel_defect">Defective</label>
          <input id="fuel_na" class="na" type="radio" formControlName="fuel" value="na">
          <label for="fuel_na">N/A</label>
          <br>
          Belts:
          <br>
          <input id="belts_ok" type="radio" formControlName="belts" value="ok">
          <label for="belts_ok">Ok</label>
          <input id="belts_defect" type="radio" class="with-gap" formControlName="belts" value="defective">
          <label for="belts_defect">Defective</label>
          <input id="belts_na" class="na" type="radio" formControlName="belts" value="na">
          <label for="belts_na">N/A</label>
          <br>
          Air Filter:
          <br>
          <input id="air_filter_ok" type="radio" formControlName="air_filter" value="ok">
          <label for="air_filter_ok">Ok</label>
          <input id="air_filter_defect" type="radio" class="with-gap" formControlName="air_filter" value="defective">
          <label for="air_filter_defect">Defective</label>
          <input id="air_filter_na" class="na" type="radio" formControlName="air_filter" value="na">
          <label for="air_filter_na">N/A</label>
          <br>
          Extinguisher:
          <br>
          <input id="extinguisher_ok" type="radio" formControlName="extinguisher" value="ok">
          <label for="extinguisher_ok">Ok</label>
          <input id="extinguisher_defect" type="radio" class="with-gap" formControlName="extinguisher"
                 value="defective">
          <label for="extinguisher_defect">Defective</label>
          <input id="extinguisher_na" class="na" type="radio" formControlName="extinguisher" value="na">
          <label for="extinguisher_na">N/A</label>
          <br>
          Backup Alarms:
          <br>
          <input id="backup_alarms_ok" type="radio" formControlName="backup_alarms" value="ok">
          <label for="backup_alarms_ok">Ok</label>
          <input id="backup_alarms_defect" type="radio" class="with-gap" formControlName="backup_alarms"
                 value="defective">
          <label for="backup_alarms_defect">Defective</label>
          <input id="backup_alarms_na" class="na" type="radio" formControlName="backup_alarms" value="na">
          <label for="backup_alarms_na">N/A</label>
          <br>
          GPS Antenna:
          <br>
          <input id="gps_antenna_ok" type="radio" formControlName="gps_antenna" value="ok">
          <label for="gps_antenna_ok">Ok</label>
          <input id="gps_antenna_defect" type="radio" class="with-gap" formControlName="gps_antenna" value="defective">
          <label for="gps_antenna_defect">Defective</label>
          <input id="gps_antenna_na" class="na" type="radio" formControlName="gps_antenna" value="na">
          <label for="gps_antenna_na">N/A</label>
        </div>
        <div class="col s6">
          Seat Belts:
          <br>
          <input id="seat_belts_ok" type="radio" formControlName="seat_belts" value="ok">
          <label for="seat_belts_ok">Ok</label>
          <input id="seat_belts_defect" type="radio" class="with-gap" formControlName="seat_belts" value="defective">
          <label for="seat_belts_defect">Defective</label>
          <input id="seat_belts_na" class="na" type="radio" formControlName="seat_belts" value="na">
          <label for="seat_belts_na">N/A</label>
          <br>
          Steering:
          <br>
          <input id="steering_ok" type="radio" formControlName="steering" value="ok">
          <label for="steering_ok">Ok</label>
          <input id="steering_defect" type="radio" class="with-gap" formControlName="steering" value="defective">
          <label for="steering_defect">Defective</label>
          <input id="steering_na" class="na" type="radio" formControlName="steering" value="na">
          <label for="steering_na">N/A</label>
          <br>
          Brakes:
          <br>
          <input id="brakes_ok" type="radio" formControlName="brakes" value="ok">
          <label for="brakes_ok">Ok</label>
          <input id="brakes_defect" type="radio" class="with-gap" formControlName="brakes" value="defective">
          <label for="brakes_defect">Defective</label>
          <input id="brakes_na" class="na" type="radio" formControlName="brakes" value="na">
          <label for="brakes_na">N/A</label>
          <br>
          Belly Pan:
          <br>
          <input id="belly_pan_ok" type="radio" formControlName="belly_pan" value="ok">
          <label for="belly_pan_ok">Ok</label>
          <input id="belly_pan_defect" type="radio" class="with-gap" formControlName="belly_pan" value="defective">
          <label for="belly_pan_defect">Defective</label>
          <input id="belly_pan_na" class="na" type="radio" formControlName="belly_pan" value="na">
          <label for="belly_pan_na">N/A</label>
          <br>
          Tracks:
          <br>
          <input id="tracks_ok" type="radio" formControlName="tracks" value="ok">
          <label for="tracks_ok">Ok</label>
          <input id="tracks_defect" type="radio" class="with-gap" formControlName="tracks" value="defective">
          <label for="tracks_defect">Defective</label>
          <input id="tracks_na" class="na" type="radio" formControlName="tracks" value="na">
          <label for="tracks_na">N/A</label>
          <br>
          Hydraulic Cylinders:
          <br>
          <input id="hydraulic_cylinders_ok" type="radio" formControlName="hydraulic_cylinders" value="ok">
          <label for="hydraulic_cylinders_ok">Ok</label>
          <input id="hydraulic_cylinders_defect" type="radio" class="with-gap" formControlName="hydraulic_cylinders"
                 value="defective">
          <label for="hydraulic_cylinders_defect">Defective</label>
          <input id="hydraulic_cylinders_na" class="na" type="radio" formControlName="hydraulic_cylinders" value="na">
          <label for="hydraulic_cylinders_na">N/A</label>
          <br>
          Cables:
          <br>
          <input id="cables_ok" type="radio" formControlName="cables" value="ok">
          <label for="cables_ok">Ok</label>
          <input id="cables_defect" type="radio" class="with-gap" formControlName="cables" value="defective">
          <label for="cables_defect">Defective</label>
          <input id="cables_na" class="na" type="radio" formControlName="cables" value="na">
          <label for="cables_na">N/A</label>
          <br>
          Pulleys:
          <br>
          <input id="pulleys_ok" type="radio" formControlName="pulleys" value="ok">
          <label for="pulleys_ok">Ok</label>
          <input id="pulleys_defect" type="radio" class="with-gap" formControlName="pulleys" value="defective">
          <label for="pulleys_defect">Defective</label>
          <input id="pulleys_na" class="na" type="radio" formControlName="pulleys" value="na">
          <label for="pulleys_na">N/A</label>
          <br>
          Greased:
          <br>
          <input id="greased_ok" type="radio" formControlName="greased" value="ok">
          <label for="greased_ok">Ok</label>
          <input id="greased_defect" type="radio" class="with-gap" formControlName="greased" value="defective">
          <label for="greased_defect">Defective</label>
          <input id="greased_na" class="na" type="radio" formControlName="greased" value="na">
          <label for="greased_na">N/A</label>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
