<nb-card>

  <nb-card-header>
    Task # {{task.id}}
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="task_description">Description: </label>
        <input required [(ngModel)]="task.description" id="task_description" [value]='task.description' name="unit_type"
               class="form-control">

      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control" for="task_complete">Complete: </label>
        <input required [(ngModel)]="task.complete" id="task_complete" name="task_complete" type="text"
               class="form-control">
      </div>
      <div class="col-sm-8 input-group">
        <label class="col-sm-5 form-control" for="task_arrived_at_vendor">Arrived at Vendor On: </label>
        <input required [(ngModel)]="task.arrived_at_vendor" id="task_arrived_at_vendor" name="task_complete_on"
               type="date"
               class="form-control">
        <button (click)="updateTaskArrived()">Update Date of Arrival</button>{{task.arrived_at_vendor | date}}
      </div>
      <div class="col-sm-8 input-group">
        <label class="col-sm-5 form-control" for="task_picked_up_at">Picked up from Vendor On: </label>
        <input required [(ngModel)]="task.picked_up_at" id="task_picked_up_at" name="task_complete_on"
               type="date"
               class="form-control">
        <button (click)="updateTaskPickup()">Update Date Picked up</button> {{task.picked_up_at | date}}
      </div>
      <div class="col-sm-8 input-group">
        <label class="col-sm-5 form-control" for="est_complete_date">Estimated Date of Completion: </label>
        <input required [(ngModel)]="task.est_complete_date" id="est_complete_date" name="est_complete_date"
               type="date"
               class="form-control">
        <button>Update Estimated Date of Completion</button>
      </div>
      <hr>
      <div class="col-sm-12">
        <button class="btn btn-warning btn-tn" (click)="assign = !assign">Assign</button>
        <button [hidden]="!assign" class="btn btn-success btn-tn" (click)="assignMechanic()">Mechanic</button>
        <button [hidden]="!assign" class="btn btn-success btn-tn" (click)="assignVendor()">Vendor</button>
        <button [hidden]="!assign" class="btn btn-warning btn-tn" (click)="cancelAssignment()">Cancel</button>
        <div class="input-group" [hidden]="!mechanic">
          <label for="mechanic_thing" class="col-sm-4 form-control">Mechanic </label>
          <span style="color: blue">
          <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="user"
                 id="mechanic_thing"
                 [source]="mechanics"
                 [list-formatter]="valueFormatter"
                 value-property-name="id"
                 display-property-name="name"
                 auto-complete-placeholder="Select Mechanic">
            </span>
          <button (click)="updateMechanicOnTask()">Update Mechanic</button>
        </div>
        <div class="input-group" [hidden]="!vendor_select">
          <label for="vendor" class="col-sm-4 form-control">Vendor </label>
          <span style="color:blue">
            <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="vendor"
                   id="vendor"
                   [source]="vendors" [list-formatter]="valueFormatter"
                   value-property-name="id"
                   display-property-name="name"
                   auto-complete-placeholder="Select Vendor">
          </span>
          <button (click)="updateVendorOnTask()">Update Vendor</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 input-group">
      <button class="btn-hero-warning" (click)="completeTask(true)">Complete Task</button>
    </div>
  </nb-card-body>
</nb-card>
