<!--suppress Annotator -->
<nb-card>
  <nb-card-header>
    New Daily Log
    <!--<div class="col-sm-6 input-group">-->
      <!--<label class="col-sm-4 form-control" for="number">Unit number</label>-->
      <!--<input class="col-sm-6 form-control" id="number" [(ngModel)]="number" name="number">-->
    <!--</div>-->
    <div class="col-sm-6 input-group unit_search">
    <label class="col-sm-4 form-control" for="unit_number">Unit Number</label>
    <input ngui-auto-complete class="form-control" [ngModel]="number" id="number" name="number" [source]="units" value-property-name="id"
           display-property-name="number" auto-complete-placeholder="Search Units" max-num-list="10" [list-formatter]="unitFormatter"
           auto-selected-first-item="true" (keyup.enter)="getUnit(item.value)" #item id="unit_number">
  </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid" [hidden]="!unit.number">
      <div class="col-sm-6 input-group">
        <label for="operator" class="col-sm-4 form-control">Select Operator: </label>
          <input ngui-auto-complete class="form-control" [(ngModel)]="log.operator_id" id="operator"
                 [source]="operators" [list-formatter]="valueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Operator" max-num-list="10">
      </div>
      <div class="col-sm-6 input-group">
        <label for="meter" class="col-sm-4 form-control">Meter: </label>
        <input [(ngModel)]="log.meter" id="meter" name="meter" type="text"
               class="col-sm-6 form-control validate">
      </div>
      <div class="col-sm-6 input-group">
        <label for="job" class="col-sm-4 form-control">Job: </label>
          <input ngui-auto-complete class="ngui-auto-complete form-control" [(ngModel)]="log.job_id" id="job"
                 [source]="jobs" [list-formatter]="valueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Job" max-num-list="10">
      </div>
      <div class="col-sm-6 input-group">
        <label for="date" class="col-sm-4 form-control">Select Date: </label>
        <input id="date" type="date" [(ngModel)]="log.date" name="date" class="datepicker col-sm-6 form-control">
      </div>
      <div class="col-sm-12 input-group" [hidden]="!unit.unit_type">
        <label class="form-control col-sm-2" for="other_description">Brief Description</label>
        <input type="text" id="other_description" [(ngModel)]="log.other_description" name="other_description" class="form-control">
      </div>
      <hr>
      <div class="col s12" *ngIf="unit.id === 0">
        <label class="col-sm-4 form-control">Unit Type: </label>
        <div>
          <button (click)="unit.unit_type.utype='Truck'">Truck</button>
          <button (click)="unit.unit_type.utype='Trailer'">Trailer</button>
          <button (click)="unit.unit_type.utype='Equipment'">Equipment</button>
        </div>
      </div>
    </div>
    <div>
      <ngx-properties [unit]="unit"></ngx-properties>
    </div>
    <div [hidden]="!unit.unit_type" class="right-align">
      <button class="btn btn-success btn-sm" (click)="submitLog(log)">Submit
        <i class="material-icons right">&rarr;</i>
      </button>
    </div>
  </nb-card-body>
</nb-card>
