<label for="status">Status: </label>
<select id="status" class="col-tn-4 form-control" [(ngModel)]="work_order.workorder_status_id" name="status">
  <option *ngFor="let workorder_status of workorder_statuses" [value]="workorder_status.id">{{workorder_status.status}}</option>
</select>
<br>
<button class="btn btn-success btn-tn" (click)="updateWorkOrderStatus(work_order)">Update Work Order</button>
