<nb-card>
  <nb-card-header>
    <div class="row">
      <h3>Job List</h3>
      <nb-actions>
        <nb-action>
          <a [routerLink]="['job_creation']" id="create_job" class="btn btn-warning btn-tn">Create Job</a>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onJobClick($event)"
                     [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
