<span class="created-by"><b><a href="https://pumpcorepair.com" target="_blank">Pumpco Repairs!!!</a></b> 2017</span>
<div class="socials">
  <!--<a href="https://charleswrayjr.bitbucket.io" target="_blank" class="ion ion-social-github"></a>-->
  <!--<a href="#" target="_blank" class="ion ion-social-facebook"></a>-->
  <!--<a href="#" target="_blank" class="ion ion-social-twitter"></a>-->
  <!--<a href="#" target="_blank" class="ion ion-social-linkedin"></a>-->
</div>
